<noinclude>
==Description==
This widget applies specific CSS to OpenEI's main page.

==Usage==
This widget should only be used on the OpenEI main (home) page.
<pre>{{#Widget:MainCSS}}</pre>
[[Category:Custom Stylesheets]]
</noinclude><includeonly>
<!--Widget:MainPageCSS-->
<style>
/*home page specific css*/

@media screen and (max-width: 768px) {
  body {
    /*css to help prevent ios overscroll/elastic flickering*/
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    transform: initial;
  }
}

#mw-wrapper {
  max-width: 100%;
  padding: 0;
}

#mw-wrapper.fixed {
  position: fixed;
  overflow: hidden;
}

.mw-body-content {
  padding: 5px 0;
  background: transparent;
}

#background-image {
  transition: all 0.25s ease-in-out, transform 1s, filter 1s;
  -webkit-transition: all 0.25s ease-in-out, -webkit-transform 1s, -webkit-filter 1s;
}

#background-image.zoomBlur {
  transform: scale3d(1.5,1.5,1);
  filter: blur(10px);
  -webkit-transform: scale3d(1.5,1.5,1);
  -webkit-filter: blur(10px);
}

#intro-home {
  width: 100vw;
  padding: 2.5vh 0;
}

.full-vh {
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  #intro-home {
    padding-top: 0;
  }
}

#jumbotron-home {
  margin: 0;
  padding: 1vh 0;
  background-color: rgba(255,255,255,0.8);
}

#jumbotron-home h1 {
  height: 0.001em;
  margin: 0;
  padding: 0;
}

#jumbotron-home p {
  font-size: 1em;
}

#jumbotron-home .motto {
  width: 66%;
  margin: 10px auto;
  font-size: 1em;
  text-align: center;
}

#jumbotron-home .venn-diagram {
  position: relative;
  height: 280px;
  width: 100%;
  margin-bottom: 20px;
}

#jumbotron-home .venn-diagram .venn-logo {
  position: absolute;
  left: calc(50% - 35px);
  top: 35%;
  height: 70px;
  width: 70px;
  background: url(/w/skins/OpenEI/images/openei-circle-white.svg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.85;
  z-index: 101;
}

#jumbotron-home .venn-diagram .circle {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  font-family: Ubuntu;
  font-weight: 100;
}

#jumbotron-home .venn-diagram .circle:hover {
  z-index: 100 !important;
  border: dotted 2px rgba(255,255,255,0.5);
}

#jumbotron-home .venn-diagram .circle p {
  margin-top: 40%;
  font-size: 2em;
  color: white;
  text-align: center;
}

#jumbotron-home .venn-diagram .circle a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

#jumbotron-home .venn-diagram .circle.data {
  left: calc(50% - 150px);
  z-index: 2;
  /* background gradient */
  /* IE10+ */
  background-image: -ms-linear-gradient(top left, rgba(7,70,141,0.5) 0%, rgba(0,128,128,0.5) 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top left, rgba(7,70,141,0.5) 0%, rgba(0,128,128,0.5) 100%);

  /* Opera */
  background-image: -o-linear-gradient(top left, rgba(7,70,141,0.5) 0%, rgba(0,128,128,0.5) 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(7,70,141,0.5)), color-stop(100, rgba(0,128,128,0.5)));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top left, rgba(7,70,141,0.5) 0%, rgba(0,128,128,0.5) 100%);

  /* W3C Markup */
  background-image: linear-gradient(to bottom right, rgba(7,70,141,0.5) 0%, rgba(0,128,128,0.5) 100%);
}

#jumbotron-home .venn-diagram .circle.data.background {
  background: url(/w/images/9/93/USRDB-json.png);
  background-size: cover;
  z-index: 1;
}

#jumbotron-home .venn-diagram .circle.data p {
  padding-right: 1.5em;
}

#jumbotron-home .venn-diagram .circle.analysis {
  left: calc(50% - 30px);
  z-index: 1;
  /* background gradient */
  /* IE10+ */
  background-image: -ms-linear-gradient(top right, rgba(0,141,65,0.5) 0%, rgba(0,128,128,0.5) 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top right, rgba(0,141,65,0.5) 0%, rgba(0,128,128,0.5) 100%);

  /* Opera */
  background-image: -o-linear-gradient(top right, rgba(0,141,65,0.5) 0%, rgba(0,128,128,0.5) 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, rgba(0,141,65,0.5)), color-stop(100, rgba(0,128,128,0.5)));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top right, rgba(0,141,65,0.5) 0%, rgba(0,128,128,0.5) 100%);

  /* W3C Markup */
  background-image: linear-gradient(to bottom left, rgba(0,141,65,0.5) 0%, rgba(0,128,128,0.5) 100%);
}

#jumbotron-home .venn-diagram .circle.analysis.background {
  background: url(/w/images/f/ff/CEMAC-chart-2.png);
  background-position: -4px 0px;
  background-size: cover;
}

#jumbotron-home .venn-diagram .circle.analysis p {
  padding-left: 2em;
}

#jumbotron-home .venn-diagram .circle.people {
  bottom: 0px;
  left: calc(50% - 90px);
  z-index: 3;
  /* background gradient */
  /* IE10+ */
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,128,128,0.1) 75%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,128,128,0.1) 75%);

  /* Opera */
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,128,128,0.5) 200%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0,0,0,0.1)), color-stop(200, rgba(0,128,128,0.5)));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,128,128,0.5) 200%);

  /* W3C Markup */
  background-image: linear-gradient(to top, rgba(0,0,0,0.1) 0%, rgba(0,128,128,0.5) 200%);
}

#jumbotron-home .venn-diagram .circle.people.background {
  background: url(https://cdn2.webdamdb.com/md_6dX7r7XQnnFD.jpg?1464279599);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .6;
}

#jumbotron-home .venn-diagram .circle.people p {
  margin-top: 50%;
}

#jumbotron-home .dashboard-link {
  display: block;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: smaller;
}

#jumbotron-home .dashboard-link a {
  color: teal;
}

.fp-searchbar {
  width: 33%;
  min-width: 180px;
  margin: 0 auto;
}

.openei-search input {
  width: 75%;
  border-radius: 4px 0 0 4px;
}

.openei-search button {
  border-radius: 0 4px 4px 0;
}

.upload-link {
  display: block;
  font-size: larger;
  text-align: center;
}

.mw-body .upload-link a, .mw-body .upload-link a:visited {
  color: teal;
  background: none;
  text-decoration: none;
}

.mw-body .upload-link a:focus, .mw-body .upload-link a:hover {
  color: #006069;
}

.upload-link .fa-cloud-upload {
  font-size: 1.5em;
  vertical-align: middle;
}

#app-yard {
  padding: 2.5vh 2.5vw;
  padding: 1vh 2.5vw;
}

#app-yard a {
  margin: auto;
}

#explore-more {
  padding: 2.5vh 0 10vh;
  padding: 1vh 0;
}

#explore-more a {
  position: relative;
  display: block;
  height: 125px;
  width: 125px;
  margin: 0 auto;
  padding-top: 25px;
  border-radius: 50%;
  border: solid 2px #eee;
  background-color: rgba(0, 178, 185, .8);
  box-shadow: 0 3px 1px 0 rgba(0,0,0,0.3);
  text-align: center;
  text-decoration: none;
  font-size: 1.6em;
  color: #eee;
  cursor: pointer;
}

#explore-more a:focus, #explore-more a:hover {
  background-color: #007680;
}

#explore-more a i.fa {
  width: 100%;
  font-size: 2em;
}

#explore-img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(/w/skins/OpenEI/images/openei-circle-white.svg);
  background-size: 100%;
  opacity: 0.1;
  z-index: 0;
}

@-webkit-keyframes pulse {
  0% {-webkit-transform: scale(0); opacity: 0;}
  25% {-webkit-transform: scale(0.25); opacity: 0;}
  50% {-webkit-transform: scale(0.5); opacity: 0;}
  75% {-webkit-transform: scale(0.75); opacity: 0;}
  90% {-webkit-transform: scale(0.9); opacity: 0.5;}
  100% {opacity: 0; -webkit-transform: scale(1);}
}

@-moz-keyframes pulse {
  0% {-moz-transform: scale(0); opacity: 0;}
  25% {-moz-transform: scale(0.25); opacity: 0;}
  50% {-moz-transform: scale(0.5); opacity: 0;}
  75% {-moz-transform: scale(0.75); opacity: 0;}
  90% {-moz-transform: scale(0.9); opacity: 0.5;}
  100% {opacity: 0; -moz-transform: scale(1);}
}

@keyframes pulse {
  0% {transform: scale(0); opacity: 0;}
  25% {transform: scale(0.25); opacity: 0;}
  50% {transform: scale(0.5); opacity: 0;}
  75% {transform: scale(0.75); opacity: 0;}
  90% {transform: scale(0.9); opacity: 0.5;}
  100% {opacity: 0; transform: scale(1);}
}

#explore-more a .sonar-effect {
  position: absolute;
  right: -30px;
  top: -30px;
  width: 180px;
  height: 180px;
  border: 20px solid rgba(100, 205, 198, 0.35);
  border-radius: 50%;
  /* Giving Animation Function */
  -webkit-animation: pulse 5s linear infinite;
  -moz-animation: pulse 5s linear infinite;
  animation: pulse 5s linear infinite;
}

#explore-openei {
  min-height: 85vh;
  width: 100vw;
  padding: 1vh 2vw;
  background: rgba(255,255,255,0.5);
}

#explore-links a {
  margin: auto;
}

/* Adjustment for menu when background image is blurred */
#pageLinks .dropdown-menu {
  height: 100vh;
}
</style>
<script>


$(document).ready(function(){
  //should initial container be fixed?
  fixedWrapper();

  //prevent "elastic scroll bump" on mobile devices
  if($(window).width() < 768){
    noOverflowHeight = $('#intro-home').height() + $('.navbar').height();
    $('#mw-wrapper').css({'height':noOverflowHeight , 'overflow':'hidden'});
  }
});

//SUPPORTING FUNCTIONS

//limit initial page scroll to extent of #intro-home.full-vh
$(window).scroll(function(){
  if($('#intro-home').hasClass('full-vh')){
    limit = $('#intro-home').height() - $(window).height() + $('#intro-home').offset().top + $('.navbar').height();
    if($(window).scrollTop() >= limit) {
      $(window).scrollTop(limit);
      return false;
    }
  }
});

//explore button click action
$(function zoomBlur() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    $('#background-image').addClass('zoomBlur');
    $('#intro-home').removeClass('full-vh');
    $('#mw-wrapper').removeClass('fixed').css({'height':'inherit','overflow':'auto'});
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 500);
        return false;
      }
    }
  });
});

//resizing #mw-wrapper #intro-home.full-vh
$(window).resize(function(){
  fixedWrapper();
});

function fixedWrapper() {
  if($(window).height() > ($('#intro-home').height() + $('.navbar').height()) && $('#intro-home').hasClass('full-vh')){
    $('#mw-wrapper').addClass('fixed');
  } else {
    $('#mw-wrapper').removeClass('fixed');
  }
}

</script>
</includeonly>
